.top-buttons {
    display: flex;
    gap: .5rem;
}

.top-buttons > button {
    background-color: #e2e2e2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    padding: .75rem;
    border-radius: .3rem;
    font-size: 1.125rem;
}

.top-buttons > button.is-invoice {
    color: white;
    background-color: rgb(19, 139, 83);
}

.top-buttons > button#giftcard-button {
    background-color: #324838;
    color: white;
}

@media screen and (max-width: 728px) {
    .top-buttons {
        flex-direction: column;
    }
}